* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Charm', cursive;
    min-height: 100vh;
    /* ใส่รูปพื้นหลังที่นี่ */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.bg-maewang{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url('/angkebnam_img/maewang_angnam.jpg');
}

.bg-jomtong{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url('doiinthanon_img/bg_intanon.jpg');
    background-size:cover;
}

.background-maewang-overlay{
    padding: 40px 20px;
    min-height: 100vh;
    background: rgba(217, 175, 222, 0.4); /* เลียนแบบโทนสีน้ำตาลส้มในรูป */
}

.background-jomthong-overlay{
    padding: 40px 20px;
    min-height: 100vh;
    background: rgba(139, 94, 26, 0.4); /* เลียนแบบโทนสีน้ำตาลส้มในรูป */
}

header {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    text-align: center;
}

.thai-title {
    font-family: 'Charm', cursive;
    font-size: 3rem;
    font-weight: 700;
}

.eng-title {
    font-family: 'Charm', cursive;
    font-size: 3.5rem;
    font-style: italic;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    row-gap: 20px;
    column-gap: 60px;
}

.card {
    background: rgba(255, 255, 255, 0.15); /* เอฟเฟกต์กระจกฝ้า */
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.card-image img, .placeholder-img {
    width: 220px;
    height: 180px;
    border-radius: 20px;
    object-fit: cover;
}

.placeholder-img {
    background: rgba(255, 255, 255, 0.3);
    /* ตกแต่งรูปไอคอนก้อนเมฆจำลอง */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom, #a1c4fd 0%, #c2e9fb 100%);
}

.card-content {
    flex: 1;
}

.card-content h2 {
  font-family: "Anuphan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #ffd700; /* สีทองเข้ม */
}

.card-content p {
  font-family: "Anuphan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
    text-align: center;
    font-size: 0.82rem;
    line-height: 22pt;
    font-weight: 300;
}
.card-link {
    text-decoration: none;
    color: inherit;
}

/* ปรับแต่งสำหรับมือถือ */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .card {
        flex-direction: column;
        text-align: center;
    }
}